.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.no-visible {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.rockiot-radial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rockiot-dial-md {
  stroke-width: 8;
}
.rockiot-value-md {
  stroke-width: 8;
}

.rockiot-dial-lg {
  stroke-width: 12;
}
.rockiot-value-lg {
  stroke-width: 12;
}

.rockiot-dial-sm {
  stroke-width: 4;
}
.rockiot-value-sm {
  stroke-width: 4;
}


.rockiot-title-text {
  font-size: 0.28rem;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central; 
}
.rockiot-units-text {
  font-size: 0.22rem;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central; 
}
.rockiot-radial-value-text {
  font-family: sans-serif;
  font-weight: normal;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central; 
}

.rockiot-svg,
.rockiot-linear-vertical {
  margin-top: 1rem;
}

.rockiot-svg.rockiot-gauge-linear-vertical {
  transform: rotate(180deg);
}

.scaleNumbers {
  font-size: 0.22rem;
}

.rockiot-svg > g > text,
g > text {
  text-anchor: middle;
  dominant-baseline: alphabetic;
  font-weight: normal;
  stroke: none;
}

.rockiot-output-radial {
  position: absolute;
  bottom: 5rem;
  font-size: 1.5rem;
  padding: 0.4rem;
}

.scaleNumbersLinear {
  font-size: 0.7rem;
}

.rockiot-ui-collapsable {
  transition: 0.4s ease-in-out;
  display: none;
}
.rockiot-ui-collapse {
  transition: max-height 1.8s ease-out;
  display: block;
}
