.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.no-visible {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.rockiot-radial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rockiot-bar {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 8;
}
.rockiot-bar-filled {
  fill: none;
  stroke: #4ea5f1;
  stroke-width: 8;
}

.rockiot-needle {
  fill: unset;
  stroke-width: 0.4;
  stroke: #ff0000;
}

.rockiot-title-text {
  font-size: 0.28rem;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central;
  fill: #707070;
}
.rockiot-units-text {
  font-size: 0.22rem;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central;
  fill: #707070;
}
.rockiot-radial-value-text {
  font-family: sans-serif;
  font-weight: normal;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: central;
  fill: #707070;
}

.rockiot-radial-scale-text {
  font-size: 0.22rem;
  fill: #707070;
}

.rockiot-radial-scale-tick {
  stroke: #a0a0a0;
  stroke-width: 0.4;
}

.rockiot-svg {
  margin-top: 1rem;
}

.rockiot-svg > g > text,
g > text {
  text-anchor: middle;
  dominant-baseline: alphabetic;
  font-weight: normal;
  stroke: none;
}

.rockiot-output-radial {
  position: absolute;
  bottom: 5rem;
  font-size: 1.5rem;
  padding: 0.4rem;
}

.scaleNumbersLinear {
  font-size: 0.7rem;
}

.rockiot-ui-collapsable {
  transition: 0.4s ease-in-out;
  display: none;
}
.rockiot-ui-collapse {
  transition: max-height 1.8s ease-out;
  display: block;
}
